<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Role</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="index-page">

    <div class="index-container">
        <h1>Select Your Role</h1>

        <div class="role-container">
            <div class="role-box">
                <h2>Admin</h2>
                <a href="{{ url_for('admin_login') }}">Login</a>
            </div>

            <div class="role-box">
                <h2>Recruiter</h2>
                <a href="{{ url_for('recruiter_login') }}">Login</a>
            </div>

            <div class="role-box">
                <h2>Job Seeker</h2>
                <a href="{{ url_for('job_seeker_login') }}">Login</a>
            </div>
        </div>
    </div>

</body>
</html>
